<div class="row text-center " >
  <div class="col-md-3 col-sm-6 product-item container">
    <div class="thumbnail" [ngClass]="{over: outOfStock()}">
      <img [src]="oneProduct.photo" alt="">
      <div class="caption">
        <h3>{{oneProduct.title | uppercase }} - {{oneProduct.price | currency:'EUR'}}</h3>
        <p>{{oneProduct.description}}</p>
        <p *ngIf="oneProduct.stock === 1" [ngClass]="{last: isTheLast()}">
          Dernier disponible
        </p>
        <p>
          <button class="btn btn-primary" (click)="addToBasket(oneProduct)" [disabled]="oneProduct.stock === 0"  >Add to Cart</button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <ng-container *ngFor="let product of products | sort:sortKey">
  <div *ngIf="oneProduct.title !== product.title" >
    <app-product (addToBasket)="addToBasket(product)" [data]="product">
    </app-product>
  </div>
  </ng-container>
</div>